.bucket-list{
    background-color: rgb(250, 232, 199);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px gray;
}
.text-color{
    color: rgb(241, 82, 24);
}
.bucketlist-info{
    text-align: left;
}