.country-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 25px;
}
.bucket-list{
    padding: 10px;
}
.text-color{
    color: rgb(241, 82, 24);
}
.bucketlist-info{
    text-align: left;
}